html {
text-size-adjust: 100%;
font-style: normal;
font-family: helvetica neue, ariel, sans-serif;
}
  body {
  font-size: 18px;
}
h1 {
text-transform: uppercase;
}
  h2 {
  font-size: 20px;
  color: red;
}
h3 {
  font-size: 40px;
}
  .top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
h4 {
  font-size: 20px;
}
  .nav{
    text-decoration: underline;
}
 a {
 color: inherit;
 text-decoration: none;
  }
      a:hover {
      color: black ;
      background-color: #def ;
}
.pics {
    background-color: white;
    display: inline-block;
}
   .pics img:hover {
         opacity: .5;
}
  menu {
  justify-content: flex-start;
}
ul {
  margin: 0;
  padding: 0;
  color: black;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2em solid red;
  padding-top: 0.5em solid white;
  background-color: rgb(214, 214, 214);
  padding-bottom: rgb(214, 214, 214);
}
.words {
  text-align: center;
  margin: auto;
  margin-top: 120px;
}
    .pics {
    margin: inherit;
    display: flex;
    justify-content: center;
          }
.t2 {
  display: flex;
  text-align: center;
  justify-content: flex-start;
}
    .t2 div {
    flex: 1;
}
.new {
  color: red;
}
    .secret {
    color: transparent;
    }

@@media (max-width: 460px) {
  body {
    background-color: pink;
  }
  header {
    nav ul {
      order: 1;
      justify-content: space-between;
    }
  }
footer {
  display: block;

}
  modern-layouts p {
    column-count: 2;

  }
